* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #ff7418;
    --color-2: #6C5F5B;
    --color-3: #68635e;
    --color-4: #F6F1EE;
    --color-5: #686D76;
}

body {
    background-image: url(../Img/Capture.PNG);

}

.conrainer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 {
    width: 45%;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 0px 42px -12px black;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 30%;
}

input {
    border-radius: 5px;
    background: rgb(195, 193, 193);
    width: 50%;
    height: 45px;
    margin-top: 10px;
    border: none;
    outline: none;
}

select {
    border-radius: 5px;
    background: rgb(195, 193, 193);
    width: 50%;
    height: 45px;
    color: var(--color-5);
    margin-top: 10px;
    border: none;
    outline: none;
}


h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "PT Serif", serif;
    font-weight: 600;
    font-size: 40px;
    color: #c15005;
}

.inputs {
    width: 64%;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-17 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #ee721f;
    background-image: none;
    color: white;
    cursor: pointer;
    font-family: "PT Serif", serif;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#ee721f, white);
    padding: 0;
    text-transform: uppercase;
    width: 35%;
    margin-top: 15px;

}

.btn-17:disabled {
    cursor: default;
}

.btn-17:-moz-focusring {
    outline: auto;
}

.btn-17 svg {
    display: block;
    vertical-align: middle;
}

.btn-17 [hidden] {
    display: none;
}

.btn-17 {
    border-radius: 99rem;
    border-width: 2px;
    padding: 0.8rem 3rem;
    z-index: 0;
}

.btn-17,
.btn-17 .text-container {
    overflow: hidden;
    position: relative;
}

.btn-17 .text-container {
    display: block;
    /* mix-blend-mode: difference; */
    color: white;
}

.btn-17 .text {
    display: block;
    position: relative;
    color: white;
}

.btn-17:hover .text {
    -webkit-animation: move-up-alternate 0.3s forwards;
    animation: move-up-alternate 0.3s forwards;
    color: var(--color-1);

}

@-webkit-keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

.btn-17:after,
.btn-17:before {
    --skew: 0.2;
    background: #fff;
    content: "";
    display: block;
    height: 102%;
    left: calc(-50% - 50% * var(--skew));
    pointer-events: none;
    position: absolute;
    top: -104%;
    transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
    transition: transform 0.2s ease;
    width: 100%;
    transition: 0.8s;
}

.btn-17:after {
    --progress: 0%;
    left: calc(50% + 50% * var(--skew));
    top: 102%;
    z-index: -1;
}

.btn-17:hover:before {
    --progress: 100%;
}

.btn-17:hover:after {
    --progress: -102%;
}

.parentlog {
    align-items: center;
}

a {
    margin-top: 7px;
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: var(--color-1);

}

@media (max-width:800px) {


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    .form1 {
        width: 90%;
        right: 20%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .form2 {
        width: 100%;
    }

    .btn-17 {
        width: 74%;
    }

    .inputs {
        width: 84%;
    }


}

.erorr {
    width: 45%;
    height: 20px;
    background-color: red;
    color: var(--color-4);
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 15px;

}