:root {
    --color-1: #ee721f;
    --color-2: #6c5f5b;
    --color-3: rgb(74, 74, 74);
    --color-4: #f6f1eed9;
}
/* naaaavvvv */
.items {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    right: 0%;
    color: #ddd !important;
    font-size: 22px;
}

.nav-link:hover {
    color: white !important;
    opacity: 50%;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
    font-size: 26px !important;
}

.btn {
    color: white !important;
    border: solid 1px white !important;
}

.btn:hover {
    color: white !important;
    border: solid 1px white !important;
    opacity: 50%;
}

/* -------------------------------------------------naaaavvvvv---------------------------------------------------------- */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(../Img/Capture.PNG);
}

.containerrr {
    max-width: 600px;
    margin: 20vh auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #ff7418;
    border: none;
    border-radius: 8px !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px !important;
}

button:hover {
    background-color: #c75b13;
}


a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.button:hover {
    background-color: #ff7418;
    color: #fff;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    select,
    button,
    a.button {
        font-size: 14px;
    }

    button,
    a.button {
        padding: 10px;
    }
}